@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello <span style="color: darkred;">@ViewBag.username</span>, <br> Welcome to CheapOAir</h1>
    <div style="margin-top: 110px;">
        <dir class="btn btn-primary m-2" style="color: white; text-decoration: none">
            @* <a asp-controller="Customer" asp-action="AllBooking">Your Bookings</a> *@
            @Html.ActionLink("Your Bookings", "AllBookings", "Customer", new { CustomerId = ViewBag.CustomerId}, new Dictionary<string,object> {{"style", "color: white; text-decoration: none;"}})
            
        </dir>
        <dir class="btn btn-primary m-2" >
            <a style="color: white; text-decoration: none" asp-controller="Flight" asp-action="GetAllFlights">Book a New Ticket</a>
        </dir>
        <dir class="btn btn-primary m-2" >
            <a style="color: white; text-decoration: none" asp-controller="Admin" asp-action="Index">Admin Dashboard</a>
        </dir>
    </div>
</div>
