<div class="text-center mt-5">
    <h1 class="mb-5"> <span style="color: green;">Congrats</span>!! Your tickets are Booked</h1>
    <span class="btn btn-primary m-2">
        <a style="color: white; text-decoration: none"  asp-action="GetAllFlights">Book a New Ticket</a> 
    </span>
    <span class="btn btn-primary m-2">
        @Html.ActionLink("Your Bookings", "AllBookings", "Customer", new {  CustomerId = ViewBag.cid  }, new Dictionary<string,object> {{"style", "color: white; text-decoration: none;"}})
    </span>
    <span class="btn btn-primary m-2">
        <a style="color: white; text-decoration: none"  asp-controller="Home" asp-action="Index">Home</a>
    </span>
</div>

